<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <property name="LOG_HOME" value="/Users/huzekang/study/liteflow-example/logs" />

    <appender name="TASK-LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>taskid-and-session</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${taskid-and-session}" class="ch.qos.logback.core.FileAppender">
                <file>${LOG_HOME}/${taskid-and-session}.log</file>
                <append>false</append>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="TASK-LOG"/>
    </root>
</configuration>